opencv-python
numpy
pickle-mixin
torch
torchvision
scipy
keras-facenet
mediapipe
ultralytics
deep_sort_realtime
mysql-connector-python
#csv
argparse
#queue
#time
datetime
logging
watchdog
pywebpush
flask
flask_cors
flasgger
mediapipe
pymysql
PyJWT
passlib
pandas
pywebpush
keras_facenet
tensorflow
#deepsort_sort_realtime
deep-sort-realtime
mysql
dotenv
celery